<input type='text' placeholder="Enter character name" [(ngModel)]='userInput' (change)="inputChange()" />

<div>
    <p>Name: {{StarWars.results[0].name}}</p>
    <p>Height: {{StarWars.results[0].height}}</p>
    <p>Mass: {{StarWars.results[0].mass}}</p>
    <p>Hair: {{StarWars.results[0].hair_color}}</p>
    <p>Skin: {{StarWars.results[0].skin_color}}</p>
    <p>Eyes: {{StarWars.results[0].eye_color}}</p>
    <p>Birth: {{StarWars.results[0].birth_year}}</p>
    <p>Gender: {{StarWars.results[0].gender}}</p>
</div>