<div class="mb-5 mt-5 d-flex justify-content-center">
    <input type='text' placeholder="Enter character name" [(ngModel)]='userInput' (keydown.enter)="inputChange($event)" />
    <button (click)="test()">Przypisz do tablicy</button> 
 
</div>

<div class="d-flex justify-content-center">
    <div class="mt-5 col-2">
        <div>
            <!--             <div class="col-4 d-inline-block">
                <p>Name:</p>
                <p>Height:</p>
                <p>Mass:</p>
                <p>Hair:</p>
                <p>Skin:</p>
                <p>Eyes:</p>
                <p>Birth:</p>
                <p>Gender:</p>
            </div> -->
            <div class="col-8 d-inline-block">
                <!--                 <p>{{StarWars.results[0].name}}</p>
                <p>{{StarWars.results[0].height}}</p>
                <p>{{StarWars.results[0].mass}}</p>
                <p>{{StarWars.results[0].hair_color}}</p>
                <p>{{StarWars.results[0].skin_color}}</p>
                <p>{{StarWars.results[0].eye_color}}</p>
                <p>{{StarWars.results[0].birth_year}}</p>
                <p>{{StarWars.results[0].gender}}</p> --> 
            </div>
        </div>
    </div>
</div>

<div *ngFor="let Person of apiResult">
    <a>Name:    {{Person.name}} &nbsp;</a>
    <a>Height:  {{Person.height}} &nbsp;</a>
    <a>Mass:    {{Person.mass}} &nbsp;</a>
    <a>Hair:    {{Person.hair_color}} &nbsp;</a>

</div>