<div class="bg">

    <div class="col-4 offset-4 mt-4 mb-3">
        <img src="../assets/Data/sw.png" class="img-responsive fit-image">  
        <p>&#f08A;</p>
    </div>

    <div class="d-flex justify-content-center">
        <p class="text-center">On this site You can search characters, planets and species from first six movies</p>
    </div>

    <div class="d-flex justify-content-center mb-5">
        <ul>
            <li> Star Wars Episode I: Phantom Menace </li>
            <li> Star Wars Episode II: Attack of the Clones </li>
            <li> Star Wars Episode III: Revenge of the Sith </li>
            <li> Star Wars Episode IV: A New Hope </li>
            <li> Star Wars Episode V: Empire Strikes Back </li>
            <li> Star Wars Episode VI: Return of the Jedi </li>
        </ul>
    </div>

    <p class="text-secondary footer">Mikołaj Lewandowski 2020. Site uses <a id="colorApi" href="https://swapi.co">SWAPI</a> as data source </p>
</div>