$sw-color: #ffc500;

.bg {
  background-color: black;
  color: $sw-color;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

#colorApi {
  color: $sw-color;
}

.footer {
  position: absolute;
  bottom: 0px;
}

ul {
  list-style: none;

  li:before {
    content: "\2022";
    color: #6c757d;
    font-weight: bold;
    font-size: 25px;
  }
}