<div class="bg col-12">
    <div class="col-4 offset-4 mt-4 mb-3">
        <img src="../assets/Data/sw.png" class="img-responsive fit-image">

    </div>
    <div class="d-flex justify-content-center">
        <p class="text-center">On this site You can search characters, planets and species from first six movies</p>
    </div>
    <div class="row text-center">
        <div class="col-md-4"> <i class="swg swg-ep1 swg-40vh"></i></div>
        <div class="col-md-4"> <i class="swg swg-ep2 swg-40vh"></i></div>
        <div class="col-md-4"> <i class="swg swg-ep3 swg-40vh"></i></div>
        <div class="col-md-4"> <i class="swg swg-ep4 swg-40vh"></i></div>
        <div class="col-md-4"> <i class="swg swg-ep5 swg-40vh"></i></div>
        <div class="col-md-4"> <i class="swg swg-ep6 swg-40vh"></i></div>
    </div>
    <p class="text-secondary footer">Mikołaj Lewandowski 2020. Site uses <a
            href="http://starwarsglyphicons.com">ICONS</a> and <a id="colorApi" href="https://swapi.co">SWAPI</a> as data
        source </p>
</div>


<!--         <ul>
            <li> Star Wars Episode I: Phantom Menace </li>
            <li> Star Wars Episode II: Attack of the Clones </li>
            <li> Star Wars Episode III: Revenge of the Sith </li>
            <li> Star Wars Episode IV: A New Hope </li>
            <li> Star Wars Episode V: Empire Strikes Back </li>
            <li> Star Wars Episode VI: Return of the Jedi </li>
        </ul> -->