.bg {
    background-image: url(src\assets\Data\SW-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
}

.colorApi{
    color: #EEDB00;
}