<div class="bg col-12">
    <div class="col-4 offset-4 mt-4 mb-3">
        <img src="../assets/Data/sw.png" class="img-responsive fit-image">

    </div>
    <div class="d-flex justify-content-center">
        <p class="text-center">{{'homePage.text' | translate }}</p>
    </div>
    <div class="row text-center">
        <div class="col-md-4"> <a target="_blank"
                href="https://www.starwars.com/films/star-wars-episode-i-the-phantom-menace" 
                class="colorApi"><i class="swg swg-ep1 swg-40vh"></i></a></div>
        <div class="col-md-4"> <a target="_blank"
                href="https://www.starwars.com/films/star-wars-episode-ii-attack-of-the-clones" 
                class="colorApi"><i class="swg swg-ep2 swg-40vh"></i></a></div>
        <div class="col-md-4"> <a target="_blank"
                href="https://www.starwars.com/films/star-wars-episode-iii-revenge-of-the-sith" 
                class="colorApi"><i class="swg swg-ep3 swg-40vh"></i></a></div>
        <div class="col-md-4"> <a target="_blank" href="https://www.starwars.com/films/star-wars-episode-iv-a-new-hope"
                class="colorApi"><i class="swg swg-ep4 swg-40vh"></i></a></div>
        <div class="col-md-4"> <a target="_blank"
                href="https://www.starwars.com/films/star-wars-episode-v-the-empire-strikes-back" 
                class="colorApi"><i class="swg swg-ep5 swg-40vh"></i></a></div>
        <div class="col-md-4"> <a target="_blank"
                href="https://www.starwars.com/films/star-wars-episode-vi-return-of-the-jedi" 
                class="colorApi"><i class="swg swg-ep6 swg-40vh"></i></a></div>
    </div>
    <p class="text-secondary footer">
        {{ 'homePage.footer_1' | translate }}
        <a class="colorApi" href="http://starwarsglyphicons.com">{{ 'homePage.footer_2' | translate }}</a>
        {{ 'homePage.footer_3' | translate }}
        <a class="colorApi" href="https://swapi.co">SWAPI</a>
        {{ 'homePage.footer_4' | translate }}
    </p>
</div>