$sw-color: #ffc500;
$grey: #727171;

nav {
  li {
    a:visited {
      color: $grey;
    }
  }
  a:visited {
    color: $grey;
  }
}
nav {
  li {
    a.active {
      color: $sw-color;
    }
  }
  a.active {
    color: $sw-color;
  }
}