nav a:visited{
    color:rgb(114, 113, 113);
    }
     
nav a.active{
        color: #EEDB00;
    }

nav li a:visited{
        color:rgb(114, 113, 113);
        }
         
nav li a.active{
            color: #EEDB00;
        }



